<mat-card>
  <mat-card-header>
      <h2>Authentification</h2>
  </mat-card-header>
  <mat-card-content>
      <form class="example-form" [formGroup]="loginForm" (ngSubmit)="proceedLogin1()" >
            <mat-form-field class="example-full-width">
              <mat-label>Login</mat-label>
              <input matInput formControlName="login" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password" >
            </mat-form-field>
            <div class="button-container">
              <button mat-raised-button color="primary">Check your credentials</button>
              <a routerLink="/reg" mat-raised-button color="accent">New User?</a>
            </div>
        </form>
        <div [ngClass]="value">
          <qrcode [qrdata]="qrCode" [width]="200" [allowEmptyString]="true" [errorCorrectionLevel]="'M'"></qrcode>
         
            <form *ngIf="showForm" class="example-form" [formGroup]="loginForm2" (ngSubmit)="proceedLogin2()">
              <mat-form-field class="example-full-width marginTop">
                <mat-label>Enter the number from app</mat-label>
                <input type="text" matInput formControlName="key">
              </mat-form-field>
              <div class="button-container">
                <button mat-raised-button color="primary">Login</button>
              </div>
            </form>
        </div>
  </mat-card-content>
</mat-card>
